@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
* {
  font-family:'Bodoni Moda', sans-serif;
  box-sizing: border-box;
}

nav a{
  display: flex;
  color: white;
  display: flex;
  justify-items: space-evenly;
}


body {
  margin: 0;
  font-size: 17px;
  padding: 2rem;
  background: url(https://images.squarespace-cdn.com/content/v1/5860128ee4fcb5ea1252336a/1505243859164-LRW8F7NQ0D6460B53LN8/ke17ZwdGBToddI8pDm48kIq4V7YYMrxzAq4yO7o0lsp7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USmeMPQ2v30XMg1qCRl2PerFza-XGdySDaQ-dH8kka1I6z9MUY0yd2njC85rKH5I0g/vizeat.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}
